.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    &_txt {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }
  
    &_wrap {
      border-radius: 10px;
      border: 1px solid #000000;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  
    &_block {
      text-align: left;
      line-height: 400%;
    }
  
    &_img {
     
      width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 768px) {
    .card_wrap {
      flex-direction: row;
      align-items: center;
    }
  
    .card_img {
      width: 350px;
    }
  }
  
