@use 'scss-reset';
@use './variables' as *;

html,
body {
	height: 100vh;
	font-family: $font-montserrat;
	background-color: $bg-main;
}
#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
